@font-face {
    font-family: 'PragmaticaCondBook';
    src: url('./fonts/PragmaticaCondBook.woff2') format('woff2'),
         url('./fonts/PragmaticaCondBook.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PragmaticaCondMedium';
    src: url('./fonts/PragmaticaCondMedium.woff2') format('woff2'),
         url('./fonts/PragmaticaCondMedium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}