@font-face {
    font-family: 'Pragmatica_Cond_Book';
    src: url('./fonts/Pragmatica_Cond_Book.woff2') format('woff2'),
         url('./fonts/Pragmatica_Cond_Book.woff') format('woff');
    font-weight: book;
    font-style: condensed;
}

@font-face {
    font-family: 'Pragmatica_Cond_Medium';
    src: url('./fonts/Pragmatica_Cond_Medium.woff2') format('woff2'),
         url('./fonts/Pragmatica_Cond_Medium.woff') format('woff');
    font-weight: medium;
    font-style: condensed;
}